{{!< default}}

{{#post}}
  <article>
    <header>
      <div class="text-white pt-48 pb-24 lg:pt-64 lg:pb-32 bg-cover bg-center"
              style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{feature_image}});">
        <h1 class="font-display font-bold text-5xl text-center">{{title}}</h1>
        <h4 class="font-body text-lg font-light text-center" datetime="{{date format="YYYY-MM-DD"}}">
          {{date format="D MMMM YYYY"}}
          &nbsp;&nbsp;|&nbsp;&nbsp;
          {{#primary_tag}}
            <a href="{{url}}">#{{name}}</a>
          {{/primary_tag}}
        </h4>
      </div>
    </header>
    <div class="container mx-auto p-4 -mt-16 lg:-mt-20">
      <div class="w-full bg-white rounded shadow py-10 px-12 lg:py-20 lg:px-24">
        <main class="ghost-post-content">
          {{content}}
        </main>
        <footer>
          {{#has author="count:>1"}}
            <!-- TODO: multiple authors avatars -->
          {{else}}
            <div class="flex flex-col md:flex-row border-t border-gray-200">
              <div class="w-full md:w-1/2 border-b md:border-r border-gray-200 px-4 py-6 font-body">
                {{#foreach tags as |tag|}}
                  {{> tag tag=tag}}
                {{/foreach}}
              </div>
              {{#primary_author}}
                <div class="w-full md:w-1/2 flex px-4 py-6 border-b border-gray-200">
                  <div class="text-sm mr-4 text-right">
                    <p class="font-bold text-2xl font-display leading-none">
                      <a href="{{url}}">{{name}}</a>
                    </p>
                    <p class="text-gray-700 font-light text-base font-body">
                      {{#if bio}}
                        {{bio}}
                      {{else}}
                        Read <a href="{{url}}">more posts</a> by this author.
                      {{/if}}
                    </p>
                  </div>
                  <a class="w-20" href="{{url}}">
                    {{#if profile_image}}
                      <img class="w-16 h-16 rounded-full" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                    {{else}}
                      <img class="w-16 h-16 rounded-full" src="{{asset 'images/no-avatar.png'}}" alt="{{name}}" />
                    {{/if}}
                  </a>
                </div>
              {{/primary_author}}
            </div>
          {{/has}}
        </footer>
      </div>
    </div>
  </article>

  <div class="container mx-auto px-4">
    <hr class="border-t border-gray-600 h-0 shadow-lg mt-6" />
    <div class="flex mt-10">
      <div class="flex-1 flex items-center h-64 w-full bg-white rounded shadow hover:shadow-xl trans-slow mr-2 px-12 py-10 lg:py-20 lg:px-24">
        <div>
          {{#prev_post}}
            <h4 class="font-body-secondary text-center text-lg">Previous post</h4>
            <a href="{{url}}">
              <h3 class="font-display font-bold text-center text-3xl">{{title}}</h3>
            </a>
          {{else}}
            <h4 class="font-body-secondary text-center text-lg">We're sorry, but this is the...</h4>
            <h3 class="font-display font-bold text-center text-3xl">First Post</h3>
          {{/prev_post}}
        </div>
      </div>

      <div class="flex-1 flex items-center h-64 w-full bg-white rounded shadow hover:shadow-xl trans-slow ml-2 px-12 py-10 lg:py-20 lg:px-24">
        <div>
          {{#next_post}}
            <h4 class="font-body-secondary text-center text-lg">Next post</h4>
            <a href="{{url}}">
              <h3 class="font-display font-bold text-center text-3xl">{{title}}</h3>
            </a>
          {{else}}
            <h4 class="font-body-secondary text-center text-lg">We're sorry, but this is the...</h4>
            <h3 class="font-display font-bold text-center text-3xl">Last Post</h3>
          {{/next_post}}
        </div>
      </div>
    </div>
  </div>
{{/post}}

{{> simple_footer}}
